
<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Overview
        </span>
      </li>
      <%= render 'cases/new_support_case_buttons', service: service %>
    </ul>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= service.readable_support_type.capitalize %> service
      <%= service.cluster_part_icons %>
    </li>
    <% if service.description.present? %>
      <li class="list-group-item">
        <%= service.description %>
      </li>
    <% end %>
  </ul>
</div>
