<% content_for(:subtitle) { 'Overview' } %>
<%= render 'partials/tabs', activate: :overview do %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= service.readable_support_type.capitalize %> service
      <%= service.cluster_part_icons %>
    </li>
    <% if service.description.present? %>
      <li class="list-group-item">
        <%= service.description %>
      </li>
    <% end %>
  </ul>
<% end %>
