<div class="card">
  <div class="card-header">
    <%= comment.updated_at.to_formatted_s(:long) %> - <b><%= comment.user.name %></b>
  </div>
  <div class="card-body">
    <%= comment.text %>
  </div>
</div>
