<div class="pb-2 m-0">
    <div class="form-group">
        <%= form_builder.text_area :text,
            'data-markdown-content': true,
            class: 'form-control',
            rows: 3
        %>
    </div>
</div>
