<div class="border-bottom mt-2 pb-2 m-0">
  <div class="form-group">
    <%= form_builder.text_area :description,
        class: 'form-control',
        'data-markdown-content': true,
        rows: 15
    %>
  </div>
</div>
