<div id='clearance' class='card sign-in'>
  <div class='card-header'>
    <ul class='nav'>
      <li class='nav-item'>
        <span class='navbar-brand'><%= title %></span>
      </li>
    </ul>
  </div>

  <div class='card-body'>
    <%= yield %>
  </div>
</div>
