
<div class="row">
  <div class="col" style="text-align:center">
    <h1>Welcome to Alces Flight Center.</h1>
    <p style="font-size: 18px;">
      Your primary destination for professional support of your Alces Flight systems.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <h4>What is Flight Center?</h4>
    <p>
      Designed to help you to make the most of your HPC resources, Alces Flight
      Center gives you access to the expert systems management and support of
      your Alces Flight systems.
    </p>
    <p>
      Your Alces Flight account manager will be able to link your Flight
      account with Flight Center when your Alces Flight system is commissioned.
      Simply sign in to view the current status of your support entitlement and
      to log systems management and support requests with the Alces Flight
      Crew.
    </p>
  </div>
  <div class="col-md-6 col-sm-12">
    <div id='clearance' class='card sign-in'>
      <div class='card-header'>
        <ul class='nav'>
          <li class='nav-item'>
          <span class='navbar-brand'><%= t('.title') %></span>
          </li>
        </ul>
      </div>

      <div class='card-body'>
        <p>Please sign in to Flight in order to use Flight Center.</p>
        <h4>I've signed in, why am I seeing this?</h4>
        <p>
          Your Alces Flight account manager must request that your Flight
          account be given access to Flight Center before you can get started.
        </p>
      </div>
    </div>

  </div>
</div>
