<div class="border-bottom mt-2 pb-2 m-0">
    <div class="form-group">
        <%= form_builder.text_area :description,
            'data-markdown-content': true,
            class: 'form-control',
            rows: 10
        %>
    </div>
</div>
