<% content_for(:subtitle) { note.subtitle } %>

<%= render 'partials/tabs', activate: :notes do %>
    <div class="card-body">
        <% if note.persisted? %>
            <%= note.rendered_description.html_safe %>
        <% else %>
            <%= note.not_found_message %>
        <% end %>
    </div>
<% end %>
