<% content_for(:subtitle) { note.title } %>

<%= render 'partials/tabs', activate: :documents do %>
  <div class="card-body">
    <h2>
      <% if note.visibility == 'engineering' %>
        <i class="fa fa-lock" title="This document is only visible to engineers"></i>
      <% end %>
      <%= note.title %>
    </h2>
    <div class="card">
      <div class="card-body">
        <%= note.rendered_description %>
      </div>
    </div>
  </div>
  <%= link_to 'Edit document',
    note.edit_path,
    PolicyDependentOptions.wrap(
      {
        class: 'btn btn-secondary m-2 btn-sm',
        role: 'button',
      },
      policy: policy(note).edit?,
      action_description: 'edit cluster documents',
      user: current_user
    )
  %>
<% end %>
