<% content_for(:subtitle) { note.subtitle } %>

<%= render 'partials/tabs', activate: :documents do %>
  <div class="card-body">
    <h2><%= note.title %></h2>
    <%= note.rendered_description %>
  </div>
  <%= link_to 'Edit document',
    note.edit_path,
    PolicyDependentOptions.wrap(
      {
        class: 'btn btn-secondary m-2 btn-sm',
        role: 'button',
      },
      policy: policy(note).edit?,
      action_description: 'edit cluster documents',
      user: current_user
    )
  %>
<% end %>
