<% content_for(:subtitle) { note.subtitle } %>

<%= render 'partials/tabs', activate: :notes do %>
    <div class="card-body">
        <%= note.rendered_description.html_safe %>
    </div>
    <%= link_to 'Edit notes',
        note.edit_path,
        class: 'btn btn-secondary m-2 btn-sm',
        role: 'button'
    %>
<% end %>
