
<%= render_tab_bar activate: :components %>

<div class='card'>
  <%= render 'partials/card_header_nav', title: @table_tile %>
  <div class='card-body'>
    <%= render 'partials/components_table' %>
  </div>
</div>
