
<%= render_tab_bar activate: :components %>

<div class='card'>
  <%= render 'partials/card_header_nav', title: @table_tile %>
  <div class='card-body'>
    <% @component_groups.each do |group| %>
      <h6><%= group.decorate.link %></h6>
      <%= render 'partials/components_table', group: group %>
    <% end %>
  </div>
</div>
