<% content_for(:subtitle) { 'Overview' } %>
<%= render 'partials/tabs', activate: :overview do %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= component.readable_support_type.capitalize %> component
      <%= component.cluster_part_icons %>
    </li>
  </ul>
  <div class="card-body">
    <h3>Component information</h3>
    <div class="card">
      <div class="card-body">
        <%= component.info.empty? ? 'No information stored' : component.rendered_info %>
      </div>
    </div>
  </div>
<% end %>
