
<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Overview
        </span>
      </li>
      <%= render 'cases/new_support_case_button' %>
    </ul>
  </div>

  <div class='card-body'>
    <%# XXX %>
    At some point something interesting should go here.
  </div>
</div>
