
<%= render 'cases/cases_table', model: component, archive: true %>

<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Overview
        </span>
      </li>
    </ul>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= component.readable_support_type.capitalize %> component
      <%= component.cluster_part_icons %>
    </li>
  </ul>
</div>

<%= render 'partials/asset_record_table', model: component %>

