<% content_for :subtitle { 'Component Overview' } %>
<%= render 'partials/tabs', activate: :overview do %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= component.readable_support_type.capitalize %> component
      <%= component.cluster_part_icons %>
    </li>
  </ul>
<% end %>
