<% if policy(cr).handover? %>
  <%= link_to 'Begin handover',
              handover_case_change_request_path(cr.case),
              class: 'btn btn-danger form-control mb-2',
              data: {
                  confirm: 'Are you sure you want to mark work on this CR as complete?'
              },
              method: 'post',
              role: 'button'
  %>
<% else %>
  <p>
    This change request is in progress. When work is complete you will be able
    to complete the handover process.
  </p>
<% end %>
