<% no_of_cluster_checks = cluster.cluster_checks.length %>
<div class="card credit-balance">
  <div class="card-body">
    <h4>Cluster checks</h4>
    <p class="credit-balance"><%= "n/#{no_of_cluster_checks} checks passed" %></p>
    <p style="text-align: center"> Last updated: dd/mm/yyyy </p>
    <%= yield %>
  </div>
</div>
