<div class="card credit-balance">
  <div class="card-body">
    <h4>Support credit balance</h4>
    <p class="credit-balance <%= cluster.credit_balance_class %>">
      <i class="fa fa-circle mr-2" aria-hidden="true"></i>
      <%= pluralize(cluster.credit_balance, 'credit') %>
    </p>
    <p style="text-align: center;">
    Cases pending closure: <%= link_to cluster.resolved_cases_count,
                                       cluster_cases_path(cluster, state: 'resolved')
                                     %>
    </p>
    <%= yield %>
  </div>
</div>
