<div class="border-bottom mt-2 pb-2 m-0">
  <div class="form-group">
    <%= form_builder.text_area :text,
        class: 'form-control',
        'data-markdown-content': true,
        name: "#{index}-comment",
        placeholder: "(Optional) Enter a comment about the check here",
        value: value
    %>
  </div>
</div>
