<%
  tabs = [
    { id: :cases, text: 'Cases', path: cluster_cases_path(@cluster) },
    {
      id: :services,
      text: 'Services',
      path: cluster_services_path(@cluster)
    },
    {
      id: :maintenance,
      text: 'Maintenance',
      path: cluster_maintenance_windows_path(@cluster)
    },
    {
      id: :components,
      text: 'Components',
      path: cluster_components_path(@cluster)
    }
  ]
%>
<div class='card'>
  <div class='card-header'>
    <ul class="nav nav-tabs">
      <% tabs.each do |tab| %>
        <% active = (tab[:id] == activate) %>
        <%= render 'partials/nav_link', **tab, active: active %>
      <% end %>
    </ul>
  </div>
  <% # NOTE: Add a yield here for the card body, maybe? %>
</div>

