<%
  tabs = [
    { id: :overview, text: 'Overview', path: cluster_path(@cluster) },
    { id: :logs, text: 'Logs', path: cluster_logs_path(@cluster) },
    { id: :cases, text: 'Cases', path: cluster_cases_path(@cluster) },

    {
      id: :maintenance,
      text: 'Maintenance',
      path: cluster_maintenance_windows_path(@cluster),
      admin_dropdown: [
        {
          text: 'Existing', path:
          cluster_maintenance_windows_path(@cluster)
        },{
          text: 'Request',
          path: new_cluster_maintenance_window_path(@cluster)
        }
      ]
    },
    {
      id: :services,
      text: 'Services',
      path: cluster_services_path(@cluster)
    },
    {
      id: :components,
      text: 'Components',
      path: '', # This path is ignored because of the dropdown
      dropdown: @cluster.component_groups_by_type.map(&:name).map do |t|
        { text: t, path: cluster_components_path(@cluster, type: t) }
      end.push(text: 'All', path: cluster_components_path(@cluster))
    }
  ]
%>
<div class='card'>
  <div class='card-header'>
    <ul class="nav nav-tabs">
      <% tabs.each do |tab| %>
        <% active = (tab[:id] == activate) %>
        <%= render 'partials/nav_link', **tab, active: active %>
      <% end %>
    </ul>
  </div>
  <%= yield if block_given? %>
</div>

