<h3><%= @case.display_id %> <%= @case.ticket_subject %></h3>

<p>
  <% if @assignee %>
    <em><%= @assignee.name %></em> has been set as the assigned engineer for this case.
  <% else %>
    This case is no longer assigned.
  <% end %>
</p>
