<% content_for :subtitle { 'Expansions' } %>
<%= render 'partials/tabs', activate: :expansions do %>
  <% if current_user.admin? %>
    <div class='nav nav-tabs nav-justified'>
      <%= link_to 'Add, Update, or Delete Expansions',
                  edit_component_component_expansion_path(@scope),
                  role: 'button',
                  class: dark_button_classes %>
    </div>
  <% end %>
  <%= render 'partials/expansion_table', model: @scope, action: 'show' %>
<% end %>
