<%= associations.first.decorate.links %>
<% if associations.length > 1 %>
  <% contents = render 'cases/associations/group_contents', items: associations do %>
    <p>Affected components:</p>
  <% end %>
  <span
    class="and-more"
    data-html="true"
    data-content="<%= contents.squish %>"
    data-toggle="popover"
    data-trigger="hover"
    data-delay='{"hide": 1500}'
  >+ <%= associations.length - 1 %> more</span>
<% end %>
