
<% scope ||= 'show' #Default to show scope %>

<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Asset Record <%=
            if scope == 'show' && current_user.admin?
              button_to 'edit',
                edit_model_asset_record_path,
                method: 'get',
                form: { style: 'display:inline-block;' }
            end
          %>
        </span>
      </li>
    </ul>
  </div>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
    <% model.asset_records.each do |record| %>
      <tr>
        <td><%= record.name %></td>
        <td><%= record.value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

