<div class='card-header'>
  <ul class="nav">
    <li class="nav-item">
      <span class="navbar-brand">
        <%= title %>
      </span>
    </li>
    <% Array.wrap(list_items ||= []).flatten.each do |item| %>
      <li class='nav-item'>
        <%= item %>
      </li>
    <% end %>
  </ul>
</div>

