
<% if current_user.admin? %>
  <tr>
    <td colspan="<%= colspan ||= 2 %>">
      <%= case action
          when 'edit'; submit_tag "Submit", **dark_button_class
          when 'show'
            link_to 'Edit',
              edit_path,
              role: 'button',
              **dark_button_class
          end %>
    </td>
  </tr>
<% end %>

