<% path ||= model %>
<% text ||= model.name %>
<% active ||= false %>
<li class='nav-item'>
  <%= link_to (raw("<span class='fa #{nav_icon}'></span> ") + text),
              path,
              class: "nav-link #{ 'nav-link--active' if active }"
  %>
</li>
