<%
  # Variable definitions for the template
  path ||= model
  text ||= model.name
  nav_icon ||= ''
  # TODO: Remove this and replace dropdown with buttons
  if current_user.admin? && (admin_dropdown ||= false)
    dropdown = admin_dropdown
  end
  dropdown ||= false
  classes ||= false
%>

<%= raw "<li class='nav-item #{'dropdown' if dropdown}'>" %>
  <% class_string = "nav-link".tap do |str|
    str << ' nav-link--active' if active
    str << ' dropdown-toggle' if dropdown
    str << ' ' + classes if classes
  end %>
  <% options = { class: class_string }.tap do |opt|
    opt[:'data-toggle'] = 'dropdown' if dropdown
  end %>
  <%= link_to icon_span(text, nav_icon), path, options %>
  <% if dropdown %>
    <div class='dropdown-menu'>
      <% dropdown.each do |dropitem| %>
        <%= link_to icon_span(dropitem[:text]),
                    dropitem[:path],
                    class: 'dropdown-item' %>
      <% end %>
    </div>
  <% end %>
</li>

