<nav class="navbar navbar-expand-lg navbar-dark product-bar fixed-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if signed_in? %>
        <% if current_user.admin? %>
          <% add_nav_link_proc text: 'All Sites',
                               path: root_path,
                               icon: 'fa-globe' %>
        <% end %>

        <% if @scope %>
          <% site_obj = model_from_scope :site %>
          <% path_for_site = if current_user.admin?
                               site_obj
                             else
                               root_path
                             end %>
          <% add_nav_link_proc text: site_obj.name,
                               path: path_for_site,
                               icon: 'fa-institution' %>

          <% cluster_obj = model_from_scope :cluster %>
          <% if cluster_obj %>
            <% add_nav_link_proc text: cluster_obj.name,
                                 path: cluster_obj,
                                 icon: 'fa-server' %>
          <% end %>

          <% component_group_obj = model_from_scope :component_group %>
          <% if component_group_obj %>
            <% add_nav_link_proc text: component_group_obj.name,
                                 path: component_group_obj,
                                 icon: 'fa-cubes' %>
          <% end %>

          <% if @cluster_part %>
            <% add_nav_link_proc text: @cluster_part.name,
                                 path: @cluster_part,
                                 icon: 'fa-cube' %>
          <% end %>
        <% end %>
      <% end %>
      <% nav_link_procs.each do |nav_proc| %>
        <%= nav_proc.call false %>
      <% end %>
    </ul>

    <% if signed_in? %>
      <% if current_user.admin? %>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <%= link_to (raw('<span class="fa fa-database"></span> ') + 'Admin Interface'),
              rails_admin_path,
              class: "nav-link"
            %>
          </li>
        </ul>
      <% end %>

      <span class="navbar-text text-light"><%= current_user.name %></span>
      <%= button_to 'Sign out',
        sign_out_path,
        method: :delete,
        class: ['btn', 'btn-light']
      %>
    <% end %>
  </div>
</nav>

