<p class="text-center">
  <button
    class="btn btn-success sign-in-button"
    onclick="window.__showFlightSSOLogin();"
  >
    <span aria-hidden="true" class="fa fa-user"></span>
    Sign in
  </button>
</p>
