<% if collection.empty? %>
  <div style="text-align: center"><em><%= message %></em></div>
<% else %>
  <div class='table-responsive'>
    <table class="table">
      <%= yield %>
    </table>
  </div>
<% end %>
