<% is_responsive = local_assigns.fetch(:responsive, true) %>

<div class='table<%= is_responsive ? '-responsive' : '' %>'>
  <table class="table">
    <%= yield %>
  </table>
</div>
<% if collection.empty? %>
  <p class="text-center"><em><%= message %></em></p>
<% end %>
