<div class='card'>
  <%= render 'partials/card_header_nav',
    list_items: ([].tap do |list|
      unless archive
        archive_param = { archive: true }
        path = if current_user.admin?
                 site_cases_path(model, **archive_param)
               else
                 cases_path(**archive_param)
               end
        list.push(link_to 'View all',
                          path,
                          class: ['nav-link', 'btn', 'btn-primary'],
                          role: 'button')
      end
    end),
    title: raw("#{archive ? 'All' : 'Open'} support cases &mdash; #{model.name}")
  %>
  <% @cases = model.cases %>
  <% @archive = archive %>
  <%= render template: 'cases/index' %>
</div>

