<div class='card'>
  <%= render 'partials/card_header_nav',
    list_items: ([].tap do |list|
      unless archive
        list.push( link_to 'View all',
          current_user.admin? ? site_cases_path(model) : cases_path,
          class: ['nav-link', 'btn', 'btn-primary'],
          role: 'button'
        )
      end
      list.push model.decorate.case_form_buttons
    end),
    title: raw("#{archive ? 'All' : 'Open'} support cases &mdash; #{model.name}")
  %>
  <% @cases = model.cases %>
  <% @archive = archive %>
  <%= render template: 'cases/index' %>
</div>

