<% if assignment_policy %>
  <%= form_for @case do |f| %>
    <div class="form-group">
      <div class="input-group">
      <%= f.collection_select(
            column,
            users,
            :id,
            :name,
            {
              include_blank: 'Nobody'
            },
            {
              class: 'form-control'
            }
          )
      %>
        <div class="input-group-append">
      <%= f.submit "Change assignment",
                   class: 'btn btn-primary btn-sm'
      %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= assignee&.name or 'Nobody' %>
<% end %>
