<% if @case.open? %>
  <% if @case.issue&.administrative? %>
    <% if current_user.admin? %>
      <p class="small">Set a non-adminstrative issue type to allow contact interaction.</p>
    <% end %>
  <% else %>
    <% if @case.tier_level < 3 %>
      <%= link_to 'Open for comments',
                   escalate_case_path(@case.id),
                   PolicyDependentOptions.wrap(
                       {
                           class: "btn btn-warning btn-sm ml-2",
                           id: 'confirm-escalate-button',
                           method: :post,
                           role: 'button'
                       },
                       policy: policy(@case).escalate?,
                       action_description: 'open a case for comments',
                       user: current_user
                   )
      %>
    <% elsif @case.can_create_change_request? && policy(ChangeRequest).create? %>
      <%= link_to 'Create change request',
                  new_cluster_case_change_request_path(@case.cluster.id, @case.display_id),
                  class: 'btn btn-sm btn-warning',
                  id: 'create-cr-button',
                  role: 'button'
      %>
    <% end %>
  <% end %>
<% end %>
