
<tr>
  <% if kase.fields %>
    <th>Fields</th>
    <td colspan="3">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
          <% kase.fields.each do |field| %>
            <tr>
              <th scope="row" class="nowrap">
                <%= field.fetch('name') %>
              </th>
              <td class="expand">
                <%= simple_format(field.fetch('value')) %>
              </td>
            </tr>
          <% end%>
        </table>
      </div>
    </td>
  <% elsif kase.change_motd_request %>
    <th>Requested MOTD</th>
    <td>
      <%= simple_format(kase.change_motd_request.motd) %>
      <% if current_user.admin? %>
        <%= button_to raw('Done &mdash; I have made this change within the cluster'),
          apply_change_motd_request_path(kase.change_motd_request),
          class: "btn btn-warning btn-sm",
          data: {
            confirm: <<~CONFIRM.squish
              This will update Flight Center's internal representation of the
              cluster to reflect this change; make sure the change has actually
              been made within the real system before proceeding.
            CONFIRM
          }
        %>
    <% end %>
    </td>
  <% end %>
</tr>
