<% if policy(@case).set_tier? && !@case.issue&.administrative? %>
  <%= form_for @case do |f| %>
    <div class="form-group">
      <div class="input-group">
        <%= f.collection_select(
              :tier_level,
              [2, 3],
              :to_i,
              lambda{ |t| tier_description(t) },
              {},
              {
                class: 'form-control'
              }
            )
        %>
        <div class="input-group-append">
          <%= f.submit "Change tier",
              class: 'btn btn-primary btn-sm'
          %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
