<% if current_user.admin?
  hours, minutes = @case.time_worked.divmod(60)
%>
<tr>
  <th>Time worked</th>
  <td colspan="3">
    <%= form_tag({ controller: 'cases', action: 'set_time' },
                 method: :post,
                 class: 'form-inline',
                 id: 'case-time-form'
        ) do %>
      <div class="form-group">
        <label>
          <%= number_field :time,
                           :hours,
                           class: 'form-control mr-1',
                           disabled: !@case.time_entry_allowed?,
                           min: 0,
                           value: hours
          %>
          hours
        </label>
        <label class="ml-1">
          <%= number_field :time,
                           :minutes,
                           class: 'form-control mr-1',
                           disabled: !@case.time_entry_allowed?,
                           min: 0,
                           max: 59,
                           value: minutes
          %>
          minutes
        </label>
      </div>
      <% if @case.time_entry_allowed? %>
        <%= submit_tag 'Change time worked',
                       class: 'form-control btn-primary ml-2',
                       disabled: !@case.time_entry_allowed?
        %>
      <% else %>
        <i class='ml-4'>Case is resolved - time cannot be changed</i>
      <% end %>
    <% end %>
  </td>
</tr>
<% end %>
