<%= content_for :subtitle do
  "#{@show_resolved ? 'Resolved' : 'Open'} Cases"
end %>
<%= render 'partials/tabs', activate: :cases do %>
  <div class='table-responsive'>
    <table class="table">
      <thead>
        <tr class="shrink">
          <th>ID</th>
          <th>Date</th>
          <th>State</th>
          <th>Creator</th>
          <th>Subject</th>
          <th>Assigned to</th>
          <th>Association</th>
          <% if @show_resolved %>
            <th>Credit usage</th>
          <% end %>
        </tr>
      </thead>

      <tbody class="assigned-cases">
        <% @scope.cases.assigned_to(current_user).decorate.each do |c| %>
          <%= render 'partials/case_table_row', kase: c, show_resolved: @show_resolved %>
        <% end %>
      </tbody>

      <tbody>
        <% @scope.cases.not_assigned_to(current_user).decorate.each do |c| %>
          <%= render 'partials/case_table_row', kase: c, show_resolved: @show_resolved %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

