<% content_for :subtitle { 'Open New Support Case' } %>
<%= render 'partials/tabs', activate: :cases do %>
  <div class='card-body'>
    <%= new_case_form(clusters: @clusters, single_part: @single_part) %>
  </div>
<% end %>
