
<%# XXX Add required labels to required fields as in Metalware? %>

<div
  id='new-case-form'
  data-clusters='<%= json_map(@clusters, :case_form_json) %>'
  data-case-categories='<%= json_map(@case_categories, :case_form_json) %>'
  <%= if @single_component then "data-single-component-id=#{@single_component.id}" end %>
></div>
