
<%# XXX Add required labels to required fields as in Metalware? %>

<div
  id='new-case-form'
  data-clusters='<%= json_map(@site_clusters, :case_form_json) %>'
  data-case-categories='<%= json_map(@case_categories, :case_form_json) %>'
  data-components='<%= json_map(@site_components, :case_form_json) %>'
></div>
