<% clusters = (@scope.instance_of?(Cluster)) ? [@scope] : @scope.clusters %>
<p>Show cases affecting:</p>
<div class="mr-5 ml-5">
  <% clusters.each do |cluster| %>

    <%= render 'case_associations/cluster_tree',
               cluster: cluster.decorate,
               selected: filters[:active][:associations] || []
    %>

  <% end %>
</div>
