<div class='card'>
  <div class="card-body">
    <p>
      The page you were looking for cannot be found.
    </p>

    <% unless current_user.present? %>

      <p>
        This page may only be available to signed-in users, so you can try signing in.
      </p>

      <p class="text-center">
        <button
          class="btn btn-success sign-in-button"
          onclick="window.__showFlightSSOLogin();"
        >
          <span aria-hidden="true" class="fa fa-user"></span>
          Sign in
        </button>
      </p>

    <% end %>

  </div>
</div>
