<div class='card  '>
  <%= render 'partials/card_header_nav', title: 'Entries' %>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Date Created</th>
          <th>Engineer</th>
          <th>Details</th>
          <th>Tickets</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
