
// Show empty black bar rather than a flash of page content where the
// brand-header should be, prior to the brand-header app loading.
.initial-brand-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 102.375px;
  width: 100%;

  background-color: black;
}

.navbar {
  box-shadow: none !important;
}

.product-bar {
  position: fixed !important;

  // Hacked and adapted from flight-reactware/lib/organisms/ProductBar.js
  background-color: #2794d8;
  box-shadow: 0px 0px 5px #707070;
  margin-top: 100px;
  z-index: 1029 !important;
  min-height: 75px;
  padding: 0.5rem 0.5rem !important;

  .navbar-nav {
    .nav-item {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
      line-height: 20px;
      font-size: 120%;
      font-weight: 700;

      .dropdown-toggle.active {
        background-color: #2794d8;
      }

      a.dropdown-toggle.selected, a.active {
        background-color: #2C3E50;
        &:hover {
          color: white !important;
        }
      }

      a.dropdown-toggle {
        border-radius: 5px;
      }
    }
    .nav-item + .nav-item {
      margin-left: 0;
    }

    .nav-link {
      padding: 1rem !important;
      border-radius: 5px;
    }

    .nav-link:hover {
      color: #2C3E50 !important;
    }

    .nav-link--active:hover {
      color: white !important;
    }
  }

  .dropdown-menu {
    background-color: #2794d8;
  }
}

.nav-link--active {
  background-color: #2C3E50;
}

// Styles from @mjtko.
html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 16px;

    // Shift main page content below brand and product bars - `!important`
    // needed to override padding set in Flight Chrome, which shifts things too
    // low for us.
    padding-top: 175px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    /*  text-transform: uppercase; */
    font-weight: 700 !important;
  }
