/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.page-content {
  // Style visited normal links in the main page content the same colour as set
  // by Flight Chrome theme, but slightly darker (to avoid breaking a default
  // web UI convention).
  // XXX Disabled for now since we think this might make things look worse
  // rather than better; consider re-adding later (see
  // https://alces.slack.com/archives/C72GT476Y/p1518783360000292)
  // a:visited:not([role="button"]) {
  //   color: darken(#18BC9C, 10%);
  // }
}

.page-container {
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .card-header {
    li {
      margin-right: 0.5rem;
    }
  }
}

.navbar-text {
  margin-right: 0.5rem;
}

body {
  // Always show scroll bar, to avoid flash of sideways shifting page content
  // if this changes to cross threshold where scrollbar would be needed while
  // using app.
  overflow-y: scroll;
}

.elm-overlay {
  // So Elm debugger always appears on top in development.
  z-index: 10000;
}

.icon {
  width: 100%;
  text-align: center;
  color: black;
}

.interactive-icon {
  @extend .icon;

  &:hover {
    opacity: 0.6;
  }
}

.fa.inline-icon {
  display: inline;
}

.faded-icon {
  opacity: 0.6;
}

#development-ribbon {
  .ribbon-holder {
    // Ribbon to indicate development site running should always appear on top.
    z-index: 9999;
    position: fixed !important;
    pointer-events: none;
  }
}
