
.archived-case-row {
  opacity: 0.4;
}

.credit-charge-required-case-row {
  background-color: lightgreen;
}

.icon {
  width: 100%;
}

.interactive-icon {
  @extend .icon;

  &:hover {
    opacity: 0.6;
  }
}
