
.archived-case-row {
  opacity: 0.4;
}

.credit-charge-required-case-row {
  background-color: lightgreen;
}

.case-form {
  hr {
    background-color: #777;

    $margin: 25px;
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

.event-card {
  .card-header {
    span {
      display: block;
      flex-grow: 1;
    }

    .icon {
      width: auto;
    }
  }
}
