.case-form {
  hr {
    background-color: #777;

    $margin: 25px;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  section {
    padding: 10px;
  }

  .disabled-section {
    border: 1px #111 solid;
    border-radius: 5px;
    opacity: 0.5;
  }

  // Make disabled select options look disabled.
  select option:disabled {
   background: #ccc;
   color: #000;
  }
}

.event-card {
  .card-header {
    span {
      display: block;
      flex-grow: 1;
    }

    .icon {
      width: auto;
    }
  }
}

.case-table th {
  text-align: right;
}

.assigned-cases {
  background-color: rgba(39,148,216,0.1);
}

.case-highlight {
  transition: background .15s ease-in;
  &:hover, &:focus, &:active {
    background-color: lighten(#18bc9c, 40);
  }

  a.td-link {
    &:hover, &:focus, &:active {
      color: black;
    }
  }
}

.alert-cr-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    flex: 1 1 33%;
  }
}

td {
  overflow: hidden;
}

.td-link {
  display: block;
  margin: -10em;
  padding: 10em;
  color: #000;
  text-decoration: none;
}

.td-link:hover {
  text-decoration: none;
}

