@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/tables";

.card.change-request-body {
  border-width: 2px !important;
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.75rem;
  }

  table, td {
    @extend .table;
    @extend .table-bordered;
    @extend .table-sm;
    width: unset;
  }

  thead {
    @extend .thead-dark;
  }
}
