.cluster-shortcode {
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid #C0C0C0;
  padding: 0.25rem;
  vertical-align: middle;
}

p.credit-balance {
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
}

.card.credit-balance .card-body {
  display: flex;
  flex-direction: column;
}

li.credit-charge-entry {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  * {
    flex-grow: 0;
    flex-shrink: 0;

    &:not(:first-child) {
      flex-basis: 6rem;
    }
  }

  .text {
    flex-grow: 1;
    padding: 0 1rem;
    font-weight: bold;
    flex-shrink: 1;
  }

  .response-time {
    padding: 0 1rem 0 0;
    flex-basis: 10rem;
  }
}

.cluster-tree {
  min-width: 15rem;

  .form-check {
    width: 100%;

    .form-check-input {
      position: absolute;
      right: 0;
    }

    .form-check-label {
      width: 100%;
    }
  }

  .cluster-part {
    &:hover {
      background-color: #F0F0F0;
    }

    &.selected {
      color: green;
    }

    &.selected-cluster {
      color: orangered;
    }
  }

  button.btn-collapse {
    position: absolute;
    left: -3.25rem;
    padding: 0 0.25rem;
    width: 1.5rem;

    &:focus, &:active {
      box-shadow: none !important;
    }

    &[aria-expanded=false]::before {
      content: '+'
    }

    &[aria-expanded=true]::before {
      content: '-'
    }
  }
}

.error {
  color: red;
  text-align: center;
  font-style: italic;
}
