.cluster-shortcode {
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid #C0C0C0;
  padding: 0.25rem;
  vertical-align: middle;
}

p.credit-balance {
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
}

.card.credit-balance .card-body {
  display: flex;
  flex-direction: column;
}

li.credit-charge-entry {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  * {
    flex-grow: 0;
    flex-shrink: 1;
  }

  .text {
    flex-grow: 1;
    padding: 0 1rem;
    font-weight: bold;
  }
}


.cluster-tree {
  .form-check {
    width: 100%;

    .form-check-input {
      position: absolute;
      right: 0;
    }

    .form-check-label {
      width: 100%;
    }
  }

  .cluster-part:hover {
    background-color: #F0F0F0;
  }
}
