// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cluster-list {
  .list-group-item {

    display: grid;

    grid-template-areas: "name badge" "buttons buttons";
    grid-gap: 0.5rem;

    @media(max-width: 1024px) {
      grid-template-areas: "name" "badge" "buttons";
    }

    h4 {
      grid-area: name;
      margin-bottom: 0;
    }

    .badge {
      grid-area: badge;
      align-self: center;
      font-size: small;
      white-space: normal;
    }

    .cluster-links {
      grid-area: buttons;
      display: flex;
      flex-wrap: wrap;

      .btn {
        flex-grow: 1;
        margin: 0.25rem;
      }
    }
  }
}

.site-services {
    h5 {
        display: inline-block;
        margin-right: 0.75rem;
    }
}

.secondary_contacts_list, .viewers_list {
    margin-bottom: 1em;
}
