
<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          All Sites
        </span>
      </li>
    </ul>
  </div>

  <ul class="list-group list-group-flush">
    <% @sites.each do |site| %>
      <li class="list-group-item">
        <%= link_to site.name, site_path(site) %>
      </li>
    <% end %>
  </ul>
</div>
