<%= form_tag case_update_associations_path(@case), method: 'put' do %>
  <ul>
    <li>
      <%= @case.cluster.name %> (Entire cluster)
      <ul>
        <li>
          Services
          <ul>
            <% @case.cluster.services.each do |service| %>
              <%= render 'case_associations/cluster_part',
                         part: service,
                         kase: @case
              %>
            <% end %>
          </ul>
        </li>
        <li>
          Components
          <ul>
            <% @case.cluster.component_groups.each do |cg| %>
              <%= render 'case_associations/cluster_part',
                         part: cg,
                         kase: @case %>
            <% end %>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <input type="submit" />
<% end %>
